:host {
  display: block;
}

// .pdf-viewer {
//   width: 100%;
//   height: 80vh; 
//   display: block; 
//   border: 2px solid rgb(0, 0, 0);
//   border-radius: 5px;
// }

.pdf-viewer-container {
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin: 1rem auto;
  max-width: 800px;
  overflow: hidden;
  background-color: #fff;
  overflow-x: auto;

  .pdf-viewer {
    width: 100%;
    height: 80vh;

    @media (max-width: 600px) {
      height: 60vh;
    }
  }
}
