:host {
  display: block;
}

// .pdf-viewer {
//   width: 100%;
//   height: 80vh; 
//   display: block; 
//   border: 2px solid rgb(0, 0, 0);
//   border-radius: 5px;
// }



// .pdf-viewer-container {
//   border: 1px solid #ccc;
//   border-radius: 6px;
//   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
//   margin: 1rem auto;
//   max-width: 800px;
//   overflow: hidden;
//   background-color: #fff;
//   overflow-x: auto;

//   .pdf-viewer {
//     width: 100%;
//     height: 80vh;

//     @media (max-width: 600px) {
//       height: 60vh;
//     }
//   }
// }


// @media (max-width: 600px) {
//   ngx-extended-pdf-viewer {
//     height: 80vh !important;
//   }
// }

// .ngx-extended-pdf-viewer {
//   border: 2px solid #ddd; /* light grey border */
//   border-radius: 8px;     /* round the corners */
//   overflow: hidden;       /* ensure content stays inside the border */
// }
::ng-deep ngx-extended-pdf-viewer #outerContainer {
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

::ng-deep ngx-extended-pdf-viewer .body {
  border-radius: 10px !important;
}

// /* Center the viewer container’s inner pages */
// .ngx-extended-pdf-viewer #viewerContainer .pdfViewer {
//   display: flex;
//   justify-content: center;
// }

// .ngx-extended-pdf-viewer #viewerContainer {
//   overflow-x: auto;
// }

.font-size-15 {
  font-size: 18px;
}

.pagination-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  // color: black;

}

.pagination-bar button {
  margin: 0 15px;
}

// .pdf-viewer-container pdf-viewer {
//   width: 100%;
//   height: 500px;
// }
