<!-- <div class="d-flex justify-content-end bg-dark text-light my-3">
  <button class="btn btn-secondary" (click)="downloadOriginalPdf()">Download Manual</button>
</div>
<div class="pdf-viewer-container">
    <pdf-viewer 
      [src]="pdfUrl" 
      [render-text]="true" 
      [show-all]="true"
      [fit-to-page]="true" 
      class="pdf-viewer">
    </pdf-viewer>
  </div> -->
  <!-- <div class="d-flex justify-content-end bg-dark text-light my-3">
    <button class="btn btn-secondary" (click)="downloadOriginalPdf()">Download Manual</button>
  </div> -->
  <div class="pdf-viewer-container">
    <ngx-extended-pdf-viewer
      [src]="currentPdfUrl"
      useBrowserLocale="true"
      [scrollMode]="1"
      [height]="height"
      [(page)]="currentPage"
      [spread]="'off'"
      [zoom]="'page-width'"
      [showSidebarButton]="false"
      [showFindButton]="true"
      [showPagingButtons]="false"
      [showZoomButtons]="true"
      [showPresentationModeButton]="false"
      [showOpenFileButton]="false"
      [showPrintButton]="false"
      [showDownloadButton]="true"
      showBookmarkButton="false"
      [showSecondaryToolbarButton]="true"
      (pageChange)="onPageChange($event)"
      (pagesLoaded)="onPagesLoaded($event)"
    ></ngx-extended-pdf-viewer>
     <!-- Overlay only visible when at last page -->
      <div
      class="pdf-overlay"
      *ngIf="currentPage === totalPages"
      (click)="scrollToSignatureSection()"
    >
      <div class="overlay-content">
        <p>Scroll down to sign</p>
        <i class="bi bi-chevron-down"></i> <!-- Bootstrap icon -->
      </div>
    </div>
  </div>
<!-- Optional: bottom pagination bar mimic -->
<div class="pagination-bar">
  <button class="btn btn-secondary" (click)="previousPage()" [disabled]="disablePrevious" >
    <i class="bi bi-chevron-left font-size-15" ></i>
  </button>
  <!-- <button class="btn btn-secondary" (click)="previousPage()" [disabled]="disablePrevious" >Previous</button> -->
  <span>Page {{ currentPage }}</span>
  <!-- <button class="btn btn-secondary" (click)="nextPage()" [disabled]="disableNext">Next</button> -->
  <button class="btn btn-secondary" (click)="nextPage()" [disabled]="disableNext" >
    <i class="bi bi-chevron-right font-size-15" ></i>
  </button>
</div>
<hr class="my-4" />
<app-document-sign class="signature-section" [enabled]="canSign()" [pdfUrl]="currentPdfUrl" (signedPdfBlobUrl)="onSignedPdfBlobUrl($event)"></app-document-sign>