@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

:root {
  color-scheme: light dark;
  --bs-body-bg: #212529;
  --bs-body-color: #f8f9fa;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    // background-color: var(--bs-dark-rgb);
    font-family: Arial, sans-serif;
  }
  
  :host {
    display: block;
    min-height: 100vh;
  }
