<div class="signature-preview-container">
  <div class="signature-preview-header mb-3">
    <h4>Signatures</h4>
    <p class="font-size-14">Please read the document and sign by placing your signature in the designated areas.</p>
  </div>

  <div
    class="signature-preview"
    [ngClass]="{ 'has-signature': !!signaturePad1, 'disabled': !enabled() }"
    (click)="openSignModal(1)"
  >
    <img *ngIf="signaturePad1" [src]="signaturePad1" alt="Parent 1 Signature" />
    <span *ngIf="!signaturePad1"><i class="bi bi-plus"></i> Sign </span>
  </div>

  <div
    class="signature-preview"
    [ngClass]="{ 'has-signature': !!signaturePad2, 'disabled': !enabled() }"
    (click)="openSignModal(2)"
  >
    <img *ngIf="signaturePad2" [src]="signaturePad2" alt="Parent 2 Signature" />
    <span *ngIf="!signaturePad2"><i class="bi bi-plus"></i> Sign </span>
  </div>

  <hr class="my-4 line" />

  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary me-2" (click)="clearAll()"> Clear All</button>
    <button class="btn btn-primary" [ngClass]="{ 'disabled': (!signaturePad1 && !signaturePad2) }" [disabled]="(!signaturePad1 && !signaturePad2) || saving"  (click)="saveSignatures()">
      {{ saving ? 'Saving...' : 'Save Document' }} <span
      *ngIf="saving"
      class="spinner-border spinner-border-sm me-2"
      role="status"
      aria-hidden="true"
    ></span></button>
  </div>
  <!-- <div class="dropdown my-2">
    <button
      class="btn btn-outline-secondary dropdown-toggle w-100"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Download Options
    </button>
    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
      <li>
        <a class="dropdown-item" href="#" (click)="downloadOriginalPdf()">Download Original Document</a>
      </li>
      <li *ngIf="latestPdfBlob" >
        <a
          class="dropdown-item"
          href="#"
          (click)="latestPdfBlob && downloadSignedPdf()"
        >
          Download Signed Document
        </a>
      </li>
    </ul>
  </div> -->
  <div class="download-buttons d-flex gap-2 my-3">
    <button class="btn btn-outline-primary" (click)="downloadOriginalPdf()">
      <i class="bi bi-download me-2"></i> Download Original Document
    </button>
    <button
      class="btn btn-outline-success"
      [disabled]="!latestPdfBlob"
      (click)="downloadSignedPdf()"
    >
      <i class="bi bi-download me-2"></i> Download Signed Document
    </button>
  </div>
</div>

<ng-template #signModal>
  <div class="modal-backdrop" (click)="closeSignModal()"></div>
  <div class="modal-content bg-dark text-light">
    <button
      type="button"
      class="btn-close position-absolute top-0 end-0 m-2 text-light"
      aria-label="Close"
      (click)="closeSignModal()"
    ></button>
    <h3>Sign the Document</h3>

    <div class="name-fields d-flex flex-column align-items-start gap-3 my-3">
      <div class="input-group bg-dark text-light">
        <span class="input-group-text bg-dark text-light" id="inputGroup-sizing-default">First Name</span>
        <input type="text" class="form-control bg-dark text-light" [(ngModel)]="parentFormFirstName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group bg-dark text-light">
        <span class="input-group-text bg-dark text-light" id="inputGroup-sizing-default">Last Name</span>
        <input type="text" class="form-control bg-dark text-light" [(ngModel)]="parentFormLastName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>


    <canvas #signaturePad></canvas>

    <div class="mt-2 d-flex justify-content-end">
      <div *ngIf="signaturePadError">
        <p class="text-danger">Please provide both signatures and names.</p>
      </div>
      <button class="btn btn-secondary me-2" (click)="clearSignature()">Clear</button>
      <button class="btn btn-primary" [disabled]="!this.parentFormFirstName ||!this.parentFormLastName"  (click)="saveSignature()">Save Signature</button>
    </div>
  </div>
</ng-template>

<!-- Trigger the modal -->
<div *ngIf="showSignModal">
  <ng-container *ngTemplateOutlet="signModal"></ng-container>
</div>


<div class="toast-container position-fixed top-0 end-0 p-3">
  <div
    class="toast text-white bg-success border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    [class.show]="showSuccessToast"
    data-bs-autohide="false"
  >
    <div class="d-flex">
      <div class="toast-body">Upload successful!</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="showSuccessToast = false"></button>
    </div>
  </div>

  <div
    class="toast text-white bg-danger border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    [class.show]="showErrorToast"
    data-bs-autohide="false"
  >
    <div class="d-flex">
      <div class="toast-body">Upload failed!</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="showErrorToast = false"></button>
    </div>
  </div>
</div>