<div class="container-fluid px-3 py-4">
  <div class="card shadow-sm border-0 rounded-2 overflow-hidden">
    <div class="card-body p-3 bg-white">
      <h2 class="h5 fw-semibold mb-3 text-black">Uploaded Files</h2>

      <div *ngIf="loading()" class="text-muted">Lets see the damn files...</div>

      <div *ngIf="files$ | async as files">
        <table class="table table-sm mb-0 align-middle">
          <thead class="text-secondary small border-bottom-style" >
            <tr>
              <th class="fw-semibold">Filename</th>
              <th class="fw-semibold">Signed At</th>
              <th class="text-end fw-semibold">@if(!isMobile) {Download} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of files" class="border-top">
              <td class="text-break small py-2" style="max-width: 240px;">{{ file.key }}</td>
              <td class="small py-2">{{ file.uploadedAt | date: 'mediumDate' }}</td>
              <td class="py-2">
                <div class="d-flex justify-content-end">
                  <button (click)="download(file.key)" class="btn btn-outline-primary btn-sm d-flex align-items-center justify-content-center px-2">
                    <i class="bi bi-download"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="!loading() && files.length === 0" class="text-muted mt-3">
          No files uploaded yet.
        </div>
      </div>
    </div>
  </div>
</div>
