<div class="p-6" >
    <h1 class="text-2xl font-bold mb-4">Uploaded Files</h1>
  
    <div *ngIf="loading()">Loading...</div>
  
    <div *ngIf="files$ | async as files">

      {{files.length}}
    <table *ngIf="!loading() && files.length > 0" class="w-full text-left border rounded shadow-sm bg-white">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2">Filename</th>
          <th class="px-4 py-2">Uploaded At</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files" class="border-t">
          <td class="px-4 py-2">{{ file.key }}</td>
          <td class="px-4 py-2">{{ file.uploadedAt | date:'short' }}</td>
          <td class="px-4 py-2">
            <button (click)="download(file.key)" class="text-blue-600 hover:underline">Download</button>
          </td>
        </tr>
      </tbody>
    </table>
  
      <div *ngIf="!loading() && files.length === 0" class="text-gray-500">No files uploaded yet.</div>
    </div>

  </div>
  