<div class="container-fluid px-3 py-4">
  <h1 class="h4 fw-bold mb-4">Uploaded Files</h1>

  <div *ngIf="loading()">Loading...</div>

  <div *ngIf="files$ | async as files">
    <div *ngIf="!loading() && files.length > 0" class="table-responsive border-radius-5">
      <table class="table table-bordered table-striped align-middle w-100">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-nowrap">Filename</th>
            <th scope="col" class="text-nowrap">Uploaded At</th>
            <th scope="col" class="text-nowrap">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files" >
            <td class="text-break small text-color" style="min-width: 200px;">{{ file.key }}</td>
            <td class="small text-color" style="min-width: 140px;">{{ file.uploadedAt | date: 'short' }}</td>
            <td style="min-width: 100px;" >
             <div class="d-flex justify-content-center">
                <button (click)="download(file.key)" class="btn btn-sm btn-outline-primary">
                  <div class="d-flex justify-content-center m-1">
                    <i class="bi bi-download"></i>@if(!isMobile) { <span class="span-margin">Download</span>}
                  </div>
                </button> 
              </div>             
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!loading() && files.length === 0" class="text-muted">No files uploaded yet.</div>
  </div>
</div>
